<div class="form-selection">
    <style>
        .form-selection label {
            display: block
        }
    </style>
    <label for="form-select">Choose a form:</label>
    <select id="form-select">
        <option value="">--</option>
        <option value="rectangle">rectangle</option>
        <option value="circle">circle</option>
    </select>
    <hr>
    <div id="opts">
        <div id="rectangle" style="display: none">
            <label>width:</label><input id="width" type="text" pattern="[0-9]*" />
            <label>height:</label><input id="height" type="text" pattern="[0-9]*" />
        </div>
        <div id="circle" style="display: none">
            <label>radius:</label><input id="radius" type="text" pattern="[0-9]*" />
        </div>
    </div>
</div>